body {
    background-image: url('../images/crossword.png')
}
h1 {
    font-family: 'Rock Salt', cursive;
}
.crystalTitle {
    margin: 25px;
}
.instructions {
    border: 2px solid;
    background-color: #efe6ed; 
}

img {
    border-radius: 25px;
}